.item {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;

  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  text-decoration: none;
}

.link {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;

  &:hover {
    color: rgba(0, 0, 0, 0.7);
  }

  &:focus {
    outline: none;
  }
}
