{
    "presets": [
        [
            "@babel/env",
            {
                "targets": "> 1%, not dead",
                "useBuiltIns": "usage",
                "corejs": { "version": 3 }
            }
        ],
        [ 
            "@babel/preset-react",
            {
                "corejs": { "version": 3 }
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties"
    ]
}