.list {
  @include custom-list;
  overflow: hidden;
  white-space: nowrap;
}

.treeview-toggler {
  position: absolute;
  top: 12px;
  right: 1rem;

  padding: 0;
  border: none;

  background: none;
  color: inherit;

  transition: transform ease-in-out 0.3s;

  &:focus {
    outline: none;
  }
}
.sidenav__item {
  .sidenav__treeview {
    max-height: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    overflow-y: hidden;

    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  &--open {
    > .sidenav__link {
      background-color: rgba(255, 255, 255, 0.1);
      color: #fff;

      .sidenav__treeview-toggler {
        transform: rotate(-90deg);
      }
    }

    > .sidenav__treeview {
      max-height: 10rem;
      opacity: 1;
    }
  }
}
