$box-height: 90px;

.box {
  display: flex;
  min-height: $box-height;
  margin-bottom: 1rem;

  color: white;

  &--blue {
    background-color: #00c0ef;
  }

  &--orange {
    background-color: #f39c12;
  }

  &--red {
    background-color: #dd4b39;
  }
}

.icon {
  display: block;
  height: 100%;
  flex-basis: $box-height;

  background-color: rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;

  font-size: 45px;
  line-height: $box-height;
  text-align: center;
}

.content {
  position: relative;
  flex-grow: 1;
  padding: 10px;
}

.title {
  margin: 0;

  font-size: 22px;
  font-weight: normal;
}

.device-counter {
  display: block;
  text-align: right;
}

.value,
.date {
  position: absolute;
  bottom: 10px;

  vertical-align: bottom;
}

.value {
  left: 10px;
  font-size: 22px;
}

.date {
  right: 10px;
}
